---
layout: default
title: Homepage
banner:
  heading: Vedic Kitchen
  subheading: Blending Ayurvedic Principles with Western Gastronomy
  image: 
    image_path: /images/ayurvedic-alchemy-3.jpg
    image_focus: 
services-section:
  heading: Nourishment Offrings
about-section:
  heading: Meet the Chef
  description: As a private chef and Ayurvedic Practitioner, I offer a harmonious blend of expertise to curate wholesome, modern, Western meals infused with Ayurvedic wisdom for you and your family. With a deep understanding of Ayurvedic nutrition guidelines, I carefully craft meals that honor your unique Ayurvedic body type, supporting your journey towards balance and vitality. From determining your individual needs to designing healing culinary experiences, allow me to guide you on a transformative path of nourishment and rejuvenation. Discover the power of Ayurveda through delectable dishes that nurture both body and soul, enriching your family's well-being with every flavorful bite.
  button: 
    text: Schedule a Complimentary Consultation
    url: #
  image: 
    image_path: /images/ayurvedic-alchemy-19.jpg
    image_focus: top
gallery-section:
  heading: Culinary Showcase
  description: Uncover the realm of well-being guided by Ayurvedic wisdom and the culinary mastery of a skilled private chef. Discover the art of finding balance, nurturing vitality, and experiencing healing through the exquisite realm of delicious and nourishing cuisine.
  gallery: 
    - image_path: /images/ayurvedic-alchemy-9.jpg
    - image_path: /images/ayurvedic-alchemy-11.jpg
    - image_path: /images/ayurvedic-alchemy-16.jpg
    - image_path: /images/ayurvedic-alchemy-10.jpg
    - image_path: /images/ayurvedic-alchemy-15.jpg
    - image_path: /images/ayurvedic-alchemy-5.jpg
contact-section:
  heading: Contact Me
  image: 
    image_path: /images/ayurvedic-alchemy-7.jpg
    image_focus: 
---
    <!-- Mobile Header -->
    <!-- {% include mobile-header.html %} -->
    
    <!-- Header -->
    {% include site-header-alt.html %}
    
    <!-- Services Section -->
    {% include services.html %}

    <!-- About Section -->
    {% include about.html %}

    <!-- Features -->
    {% include features.html %}

    <!-- Gallery -->
    {% include gallery.html %}

    <!-- Contact -->
    {% include contact.html %}
