<form class="grid grid-cols-1 gap-8 form-field">
    <!-- Name -->
    <input class="bg-transparent border-b border-black placeholder:text-black" placeholder="Name" aria-label="Name"
        type="text" id="name" name="name">
    <!-- Email -->
    <input class="bg-transparent border-b border-black placeholder:text-black" placeholder="Email" aria-label="Email"
        type="text" id="email" name="email">
    <!-- Message -->
    <div class="grid grid-cols-1 mb-2">
        <label for="message">Message</label>
        <textarea class="bg-transparent border border-black" id="message" name="message"></textarea>
    </div>
    <!-- Submit -->
    <div class="text-right">
        <input class="button" type="submit" value="SEND">
    </div>
</form>