<footer>
    <div class="grid sm:grid-cols-3 gap-4 p-5p border-l border-r border-black">
        <div class="sm:col-span-2 text-center sm:text-left">
            <h3 class="heading-sm">AYURVEDIC ALCHEMY</h3>
            <a href="https://maps.google.com/maps?q=Paris" target="_blank">
                <p>123 Rue du Château</p>
                <p>75009 Paris</p>
                <p class="mb-4 sm:mb-0">France</p>
            </a>
        </div>
        <div class="text-center sm:text-right">
            <h3 class="heading-sm">Subscribe to my newsletter</h3>
            <form class="grid grid-cols-1 gap-3">
                <!-- Email -->
                <input class="bg-transparent border border-black p-1 mb-2" aria-label="Email" type="text" id="email"
                    name="email">
                <!-- Submit -->
                <div class="text-center sm:text-right">
                    <input class="button" type="submit" value="SUBSCRIBE">
                </div>
            </form>
        </div>
    </div>
    <div class="grid grid-cols-1 border-t border-black px-5p py-4">
        <h4 class="capitalize text-center sm:text-left">Terms of use</h4>
    </div>
</footer>