<header class="border border-black">
    <div class="grid grid-cols-2" style="background-color: #CEC6B3;">
        <div style="background-image: url('{{page.banner.image.image_path}}'); background-position: {{page.banner.image.image_focus}};"
            class="flex flex-col justify-items-stretch min-h-[80vh] bg-image-style border-r border-black">
            <div class="text-center flex-grow flex flex-col justify-center items-center relative w-[100vw] text-dark">
                <h1 class="heading-lg-mobile sm:heading-lg">{{page.banner.heading}}</h1>
                <h2 class="subtitle-mobile sm:subtitle">{{page.banner.subheading}}</h2>
            </div>
        </div>
        <div class="hidden md:block bg-image-style mx-[30%] aspect-portrait self-center"
            style="background-image: url('/images/ayurvedic-alchemy-8.jpg');"></div>
</header>